%h1= t('headers.teams.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_team_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.team')
  %thead
    %tr
      %th= Team.human_attribute_name(:team_name)
      %th= Team.human_attribute_name(:motor_manufacturer)
      %th= Team.human_attribute_name(:racer1_id)
      %th= Team.human_attribute_name(:racer2_id)
      %th= Team.human_attribute_name(:car_number1)
      %th= Team.human_attribute_name(:car_number2)
      %th= Team.human_attribute_name(:team_country)
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.team_name
        %td= team.motor_manufacturer
        %td= Racer.find(team.racer1_id).surname + " " +  Racer.find(team.racer1_id).firstname
        %td= Racer.find(team.racer2_id).surname + " " +  Racer.find(team.racer2_id).firstname
        %td= team.car_number1
        %td= team.car_number2
        %td= team.team_country
        %td.right
          = link_to team, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_team_path(team), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to team, :method => :delete,
          :data => { :confirm => t('buttons.confirm.team') },
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')
