%h1= t('headers.calendar_of_the_championships.index')

%table.table.table-hover.table-striped
  %thead
    %tr
      %th= CalendarOfTheChampionship.human_attribute_name(:gp_name)
      %th= CalendarOfTheChampionship.human_attribute_name(:number)
      %th= CalendarOfTheChampionship.human_attribute_name(:race_date)
      %th= CalendarOfTheChampionship.human_attribute_name(:country)
      %th= CalendarOfTheChampionship.human_attribute_name(:location)
  %tbody

    - @calendar_of_the_championships.each do |calendar_of_the_championship|
      %tr
        %td= calendar_of_the_championship.gp_name
        %td= calendar_of_the_championship.number
        %td= calendar_of_the_championship.race_date
        %td= calendar_of_the_championship.country
        %td= calendar_of_the_championship.location
