= form_tag search_racers_path(), method: :get do
  .well
    .row
      .col-md-5.c
        .row
          .col-md-12.my_head
            Поиск по атрибутам пилота
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[surname]','Фамилия'
              = text_field_tag 'search[surname]', params['search']['surname'], class: 'form-control'
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[firstname]','Имя'
              =text_field_tag 'search[firstname]', params['search']['firstname'], class: 'form-control'
        .row
          .col-md-12.simple
            .form-group
              =label_tag 'search[bday]','Дата рождения'
              %dd
                %div
                  .input-group.date.datepicker
                    =text_field_tag 'search[bday]', params['search']['bday'], class: 'form-control'
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[country]','Место рождения'
              =select_tag 'search[country]',  options_for_select(@countries),{ include_blank: true, class: 'form-control'}
        .row
          .col-md-12.simple
            .form-group
              =label_tag 'search[number_of_wins]','Количество побед'
              =text_field_tag 'search[number_of_wins]', params['search']['number_of_wins'], class: 'form-control'
        .row
          .col-md-12.simple
            .form-group
              =submit_tag 'Искть'

      .col-md-1

      .col-md-5.my_head.c
        .row
          .col-md-12.my_head
            Поиск по атрибутам команды
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[team_name]','Название команды'
              =select_tag 'search[team_name]',  options_for_select(@teams),{ include_blank: true, class: 'form-control'}
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[motor_manufacturer]','Производитель мотора'
              =select_tag 'search[motor_manufacturer]',  options_for_select(@motor_manufacturers),{ include_blank: true, class: 'form-control'}
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[car_number1]','Номер машины первого гонщика'
              =select_tag 'search[car_number1]',  options_for_select(@n1),{ include_blank: true, class: 'form-control'}

        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[car_number2]','Номер машины второго гонщика'
              =select_tag 'search[car_number2]', options_for_select(@n2),{ include_blank: true, class: 'form-control'}
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[team_country]','Страна команды'
              =select_tag 'search[team_country]', options_for_select(@team_countries),{ include_blank: true, class: 'form-control'}
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[racer1_id]','Является первым гонщиком'
              =check_box_tag 'search[racer1_id]'
        .row
          .col-md-12.simple
            .form-group
              = label_tag 'search[racer2_id]','Является вторым гонщиком'
              =check_box_tag 'search[racer2_id]'


  %h2 Результаты поиска

  %table.responsive
    %thead
      %tr
        %th= Racer.human_attribute_name(:surname)
        %th= Racer.human_attribute_name(:firstname)
        %th= Racer.human_attribute_name(:bday)
        %th= Racer.human_attribute_name(:country)
        %th= Racer.human_attribute_name(:number_of_wins)
    %tbody
      - @racers.each do |racer|
        %tr
          %td= racer.surname
          %td= racer.firstname
          %td= racer.bday
          %td= racer.country
          %td= racer.number_of_wins
  %h5 Small Word Table
  %table.responsive
    %tr
      %th Header 1
      %th Header 2
      %th Header 3
      %th Header 4
      %th Header 5
      %th Header 6
      %th Header 7
      %th Header 8
    %tr
      %td row 1, cell 1
      %td row 1, cell 2
      %td row 1, cell 3
      %td row 1, cell 4
      %td row 1, cell 5
      %td row 1, cell 6
      %td row 1, cell 7
      %td row 1, cell
    %tr
      %td row 2, cell 1
      %td row 2, cell 2
      %td row 2, cell 3
      %td row 2, cell 4
      %td row 2, cell 5
      %td row 2, cell 6
      %td row 2, cell 7
      %td row 2, cell 8

    %tr
      %td row 3, cell 1
      %td row 3, cell 2
      %td row 3, cell 3
      %td row 3, cell 4
      %td row 3, cell 5
      %td row 3, cell 6
      %td row 3, cell 7
      %td row 3, cell 8

    %tr
      %td row 4, cell 1
      %td row 4, cell 2
      %td row 4, cell 3
      %td row 4, cell 4
      %td row 4, cell 5
      %td row 4, cell 6
      %td row 4, cell 7
      %td row 4, cell 8
